/wp-admin
/wp-includes
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/index.php
/license.txt
/readme.html
/robots.txt
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php

*.DS_Store
/.htaccess
.htaccess
*/**/node_modules/*
/wp-content/uploads/bb-plugin/cache/*

/wp-content/plugins/query-monitor/*
/wp-content/db.php
wp-content/themes/progrowtech/img/pgt-src/
prepros.cfg
wp-content/themes/progrowtech/PGT_Website_Edits-QA_Round_1.docx
wp-content/themes/progrowtech/img/elevate/__MACOSX/Elevate Renderings/._EL90 3.png
wp-content/themes/progrowtech/img/elevate/__MACOSX/Elevate Renderings/._EL90 2.png
wp-content/themes/progrowtech/img/elevate/__MACOSX/Elevate Renderings/._EL90 1.png
wp-content/themes/progrowtech/img/elevate/__MACOSX/Elevate Renderings/._EL200 3.png
wp-content/themes/progrowtech/img/elevate/__MACOSX/Elevate Renderings/._EL200 2.png
wp-content/themes/progrowtech/img/elevate/__MACOSX/Elevate Renderings/._EL200 1.png
wp-content/themes/progrowtech/img/elevate/Elevate Renderings/EL90 3.png
wp-content/themes/progrowtech/img/elevate/Elevate Renderings/EL90 2.png
wp-content/themes/progrowtech/img/elevate/Elevate Renderings/EL90 1.png
wp-content/themes/progrowtech/img/elevate/Elevate Renderings/EL200 3.png
wp-content/themes/progrowtech/img/elevate/Elevate Renderings/EL200 2.png
wp-content/themes/progrowtech/img/elevate/Elevate Renderings/EL200 1.png
*.psd
